body{
    margin: 0px auto;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #000;
    background-image: url("images/header bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15vh 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1{
    margin: 0;
    color: white;
}

.watchlist-btn{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

.search-bar{
    position: absolute;
    top: 93%;
    left: 35%;
    border: 1px solid #D1D5DB;
    border-radius: 7px;
    padding: 0 10px;
    background-color: #fff;
}

.search-bar input{
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 45%;
    padding: 10px 30px;
    border: none;
}

.search-bar input::placeholder{
    color: #6B7280;
}

.search-btn{
    border: none;
    border-left: 1px solid #D1D5DB;
    background-color: #fff;
    padding: 10px 30px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.movie-feed{
    background-color: #fff;
    background-image: url("images/movie icon.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 450px;
    padding: 80px 20px ;
}

.movie{
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #D1D5DB;
}

.movie-poster{
    width: 150px;
    height: calc(150px * 1.5);
    border-radius: 5px;
}

.movie-info{
    display: flex;
    flex-direction: column;  
    margin-left: 20px;
}

h3{
    margin:0
}

.movie-header{
    display: flex;
    align-items: center;
    width: 70%;
}

.movie-header img, .movie-header p{
    margin-left: 10px;
}

.movie-details{
    display: flex;
    align-items: center;
    width: 70%;

}

.info-el:nth-child(2){
    margin-left: 20px;
}

.add-watchlist-btn, .remove-watchlist-btn{
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.add-watchlist-btn p, .remove-watchlist-btn p{
    margin-left: 5px;
}

.add-watchlist-btn:active, .remove-watchlist-btn:active{
    opacity: 0.5;
}

.info-el{
    margin: 10px 0;
}

.remove-watchlist-btn img{
    width: 16px;
}

@media (max-width: 768px){
    .search-bar{
        left: 5%;
        right: 5%;
        display: flex;
    }

    .search-btn{
        margin-left: auto;
        padding: 10px 15px;
    }

    .movie-details{
        width: 85%;
    }
  
    .add-watchlist-btn p, .remove-watchlist-btn p{
        display: none;
    }

    .add-watchlist-btn img{
        margin-left: auto;
    }
}